
@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>
<p>
    @Html.ActionLink("Orders", "Index" , "Orders", null, null) |
    @Html.ActionLink("Drinks", "Index", "Drinks", null, null) |
    @Html.ActionLink("Users", "Index", "Users", null, null)
</p>
